<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>ccpayment</name>
	<displayName>CC Payments Module</displayName>
	<version>1.4</version>
	<description>Take Payment Card details for offline processing</description>
	<author></author>
	<tab>payments_gateways</tab>
	<confirmUninstall>Uninstalling will delete any payment card details taken on orders that used this payment method as well as uninstalling the module. Are you sure?</confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>